{% extends 'Base.html'%}
    {% block content%}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
    {%load static%}

<style>
    .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.box > div { /*The > denotes only the first or immediate child will be affected*/
  width: 600px;
  height: auto;
  /*border: dotted;
*/
}
</style>
 <div style="background-image:  url('/media/bg.jpg'); background-repeat:no-repeat;background-size:cover;  height:820px; width:100%;">
    <div class="box">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="row">
            <div class="col-md-4">
                <img style="height: 200px;width: 180px;" src="/media/Doc.png">

            </div>

            <div class="col-md-8">
                {%for i in details%}
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h1>Doctor Profile</h1>
                <hr>
                <label class="form-label">Doctors Name</label>
                <input class="form-control" type="text" name="name" value="{{i.Name}}" readonly>
                <br>

                <label class="form-label">Specialist</label>
                <input class="form-control" type="text" name="type" value="{{i.Speciality}}" readonly>
                <br>

                <label class="form-label">Address</label>
                <input class="form-control" type="text" name="address" value="{{i.Address}}" readonly>
                <br>

                <label class="form-label">Phone Number</label>
                <input class="form-control" type="tel" name="phone"  id="phone" value="{{i.Phone}}" readonly>
                <br>

                <label class="form-label">Age</label>
                <input class="form-control" type="text" name="time" value="{{i.Age}}" readonly>
                <br>
                </form>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
</div>
</div>
    {% endblock %}